
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@section styles 
    {
    <style>
        h2 {

            color:red;
            padding:10px;
        }
    </style>
    }
<h2>Index</h2>

